openapi: 3.1.0
info:
  title: Aerostack API
  version: 1.0.0
  description: |
    Aerostack Platform API - Unified access to database, authentication, 
    caching, queues, storage, and AI services.
  contact:
    name: Aerostack Support
    url: https://aerostack.ai/support

servers:
  - url: https://api.aerostack.ai/v1
    description: Production
  - url: http://localhost:8787/v1
    description: Local Development

security:
  - ApiKeyAuth: []

tags:
  - name: Database
    description: SQL database operations
  - name: Authentication
    description: User authentication and management
  - name: Cache
    description: Key-value caching
  - name: Queue
    description: Background job queue
  - name: Storage
    description: File storage
  - name: AI
    description: AI/ML operations
  - name: Services
    description: Cross-service invocation

paths:
  /db/query:
    post:
      summary: Execute SQL query
      description: Run a SQL query against your project database
      operationId: dbQuery
      tags:
        - Database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sql
              properties:
                sql:
                  type: string
                  description: SQL query to execute
                  example: "SELECT * FROM users WHERE active = ?"
                params:
                  type: array
                  description: Query parameters for prepared statements
                  items: {}
                  example: [true]
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/signup:
    post:
      summary: Sign up new user
      operationId: authSignup
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123!
                name:
                  type: string
                  example: John Doe
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/signin:
    post:
      summary: Sign in user
      operationId: authSignin
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: User authenticated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cache/get:
    post:
      summary: Get cached value
      operationId: cacheGet
      tags:
        - Cache
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
              properties:
                key:
                  type: string
                  example: user:123:profile
      responses:
        '200':
          description: Cache value retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    nullable: true
                  exists:
                    type: boolean

  /cache/set:
    post:
      summary: Set cached value
      operationId: cacheSet
      tags:
        - Cache
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - value
              properties:
                key:
                  type: string
                value: {}
                ttl:
                  type: integer
                  description: Time to live in seconds
                  example: 3600
      responses:
        '200':
          description: Value cached successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /queue/enqueue:
    post:
      summary: Add job to queue
      operationId: queueEnqueue
      tags:
        - Queue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - data
              properties:
                type:
                  type: string
                  example: send-email
                data:
                  type: object
                  additionalProperties: true
                delay:
                  type: integer
                  description: Delay in seconds before processing
                  example: 60
      responses:
        '201':
          description: Job enqueued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  success:
                    type: boolean

  /storage/upload:
    post:
      summary: Upload file to storage
      operationId: storageUpload
      tags:
        - Storage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - key
              properties:
                file:
                  type: string
                  format: binary
                key:
                  type: string
                  description: Storage key/path
                  example: avatars/user-123.jpg
                contentType:
                  type: string
                  example: image/jpeg
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    example: https://cdn.aerostack.ai/projects/abc/avatars/user-123.jpg

  /ai/chat:
    post:
      summary: Generate AI chat completion
      operationId: aiChat
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
              properties:
                model:
                  type: string
                  example: '@cf/meta/llama-3-8b-instruct'
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
      responses:
        '200':
          description: AI response generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string

  /services/invoke:
    post:
      summary: Invoke another service
      operationId: servicesInvoke
      tags:
        - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - serviceName
                - data
              properties:
                serviceName:
                  type: string
                  example: billing-webhook
                data:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Service invoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result: {}

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Aerostack-Key
      description: |
        Secret API key for server-side access.
        Format: `ac_secret_xxxxxx`
        Get your API key from: https://admin.aerostack.ai/settings/api-keys

  schemas:
    DbQueryResult:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            additionalProperties: true
        count:
          type: integer
        
    AuthResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT authentication token
        user:
          $ref: '#/components/schemas/User'
        expiresAt:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          enum:
            - AUTH_INVALID_KEY
            - AUTH_INVALID_CREDENTIALS
            - DB_QUERY_FAILED
            - RATE_LIMIT_EXCEEDED
            - VALIDATION_ERROR
            - INTERNAL_ERROR
        message:
          type: string
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
